/* combos.dtsi : included inside /{ ... } of keyball44.keymap */

combos {
  compatible = "zmk,combos";

  // J + K → 左クリック
  jk_btn1 {
    timeout-ms = <40>;
    key-positions = <19 20>;
    layers = <0>;
    bindings = <&mkp LCLK>;
  };

  // K + L → 右クリック
  kl_btn2 {
    timeout-ms = <40>;
    key-positions = <20 21>;
    layers = <0>;
    bindings = <&mkp RCLK>;
  };

  // d + f → Ctrl + C
  df_copy {
    timeout-ms = <40>;
    key-positions = <15 16>;
    layers = <0>;
    bindings = <&kp LC(C)>;
  };

  // r + t → Ctrl + Shift + V
  rt_paste2 {
    timeout-ms = <40>;
    key-positions = <4 5>;
    layers = <0>;
    bindings = <&kp LC(LS(V))>;
  };

  // e + r → Ctrl + V
  er_paste {
    timeout-ms = <40>;
    key-positions = <3 4>;
    layers = <0>;
    bindings = <&kp LC(V)>;
  };

  // y + u → Delete
  yu_del {
    timeout-ms = <40>;
    key-positions = <6 7>;
    layers = <0>;
    bindings = <&kp DELETE>;
  };

  // w + e → Ctrl + X
  we_cut {
    timeout-ms = <40>;
    key-positions = <2 3>;
    layers = <0>;
    bindings = <&kp LC(X)>;
  };
};
